@import './components/global.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/question-card.css';
@import './components/create-question.css';
@import './components/profile.css';