footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    height: 80px;
    background-color: #ccc;
}

.nav {
    display: flex;
}

.nav__button {
    width: 25%;
    border-radius: 0;
    border: 0;
    border-right: 1px solid grey;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.nav__button--home {
    background-image: url('../../images/home.png');
}

.nav__button--bookmarks {
    background-image: url('../../images/boolmark.png');
}

.nav__button--create {
    background-image: url('../../images/question.png');
}

.nav__button--profile {
    background-image: url('../../images/profile.png');
}