html, body {
    padding: 0;
    margin: 0;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    padding: 0.5em 2em;
    border: 2px solid black;
    background-color: transparent;
}