.profile-box {
    padding: 1em 2em;
}
.aboutme-box {
    display: flex;
    justify-content: space-around;
}

.aboutme-box__img {
    width: 35%;
    padding: .5em;
    border: 1px solid #000;
    border-radius: 50%;
}
.aboutme-box__name {
    text-align: center;
}

.skills-tags {
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0;
}
.skills-tag {
    margin-right: .5em;
    padding: 0.2em 0.5em;
    border: 1px solid #000;
    background-color: #efefef;
}
.skills-button {
    margin: 4em auto 1em;
    display: block;
    padding: .5em 1em;
    text-transform: uppercase;
}
