.question-card-list {
    list-style: none;
    padding: 20px 0px 0px 0px;
    margin: 0 1em;
}

.question-card {
    position: relative;
    padding: 0.5em;
    border: 1px solid #000;
    margin-bottom: 1.5em;
}

.question-card__bookmark {
    position: absolute;
    top: -1em;
    right: 1em;
    padding: 0.5em;
    width: 30px;
    border: 1px solid #000;
    background-color: white;
    text-align: center;
}

.question-card__bookmark--selected {
    background-color: #000;
    color: #fff;
}

.question-card h2, /* NOT BEM* */
.question-card__headline { /* BEM NOTATION */
    margin: 0;
    font-size: 1.1em;
    text-transform: uppercase;
}

.question-card__text {
    margin-left: 1em;
}

.question-card__button {
    margin: 0 auto 1em;
    display: block;
    padding: .5em 1em;
    text-transform: uppercase;
}

.question-card__tags {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.question-card__tag {
    margin: 0.4em;
    padding: 0.2em 0.5em;
    border: 1px solid #000;
    background-color: #efefef;
}